@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3f2fd;
}
.container{
    position: relative;
    max-width: 400px;
    width: 100%;
    background-image: url(./project\ 1\ img.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 28px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
header,
 .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.logo img{
    width: 58px;
}
h5{
    color: #fff;
    margin: 10px;
    font-size: 20px;
    font-weight: 400;
}
header .chip{
    width: 70px;
}
h6{
    color: #fff;
    font-size: 16px ;
    font-weight: 400;
}
h5.number{
    letter-spacing: 1px ;
    font-size: 18px;
    margin-top: 4px;
}
h5.name{
    margin-top: 10px;
}
.container .card-details{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}